@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Programación V</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam.</p>

</div>

<style>
    div {
        text-align: center;
    }
</style>

<div>
    <img src="https://www.mdzol.com/u/fotografias/m/2023/1/8/f768x1-1345082_1345209_110.jpeg">
</div>
